# ------------------------------------------------------------------------------
# .gitignore - .dotfiles Project
# ------------------------------------------------------------------------------
# Temp proj notes
.notes

# General
temp/

# VSCode

*.backup