[Desktop Entry]
Name=Suave Dark

X-KDE-PluginInfo-Name=SuaveDark
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-License=CC BY-SA
